/*Fichero de estilos para el Proyecto de Navidad - IAW curso 2020/21*/

/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

/*Fondo*/
body {
    background-image:url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

h1,.slogan,a{
    color:white;
    text-align: center;
}

h1{
    font-family: 'Source Sans Pro','Lucida Sans';
    font-size: 5em;
    font-weight: 700;
}

.slogan{
    font-family: 'Merriweather', 'Lucida Sans';
    font-style: italic;
    font-stretch: expanded;
}

.flecha:hover{
    source="img/abajo2.jpg";
}

picture.toda{
    width:800px;
    height: auto;
}

nav{
    background-color:rgb(38, 0, 255);
    text-align: center;
    margin:0px 250px;
}

section{
    width:900px;
    margin-left:20%;
    margin-right:20%;
    background-color: white;
}

address{
    width:900px;
    margin-left:20%;
    margin-right:20%;
    color:white;
    font-size:20px;
    background-color: #99344e;
    margin-top:100px;
    text-align:center;
}